.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: #1b1c1d;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 0;
}

.ui.inverted.menu .item {
  margin: 0 40px;
}

i.home.icon {
  font-size: 2rem;
  position: absolute;
  top: 20px;
  left: 15px;
  color: white;
}
@media (min-width: 375px) and (max-width: 900px) {
  i.home.icon {
    right: 30px;
    top: 20px;
    position: fixed;
    left: auto;
  }
  .ui.inverted.menu .item {
    margin: 0 5px;
  }
}
