.img-etageres3 {
  width: 40%;
  position: absolute;
  top: 300px;
  left: 30px;
}
h3 {
  color: #d7b899;
}
.modif-etagere {
  width: 50%;
  position: absolute;
  top: 300px;
  right: 20px;
}
.ui.progress {
  margin: 10px 0;
}

.bar {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: black;
}
.ui.progress .bar {
  width: 100%;
}

.ui.icon.buttons {
  margin-bottom: 30px;
}
.epaisseur {
  display: flex;
  margin-bottom: 50px;
}
div.field {
  margin-right: 20px;
}
div.label {
  margin-right: 50px;
}
.button-panier {
  margin-bottom: 20px;
  background-color: #e4d4bc;
  padding: 10px;
  width: 250px;
  border: 1px solid #e4d4bc;
  border-radius: 30% 0%;
}
.button-commande {
  background-color: #d7b899;
  padding: 10px;
  width: 250px;
  border: 1px solid #d7b899;
  border-radius: 30% 0%;
}
