.etagere {
  background: linear-gradient(to right, rgb(96 96 113), #d9d9d9);
  width: 100vw;
  height: 100vh;
}
.img-etageres {
  width: 20%;
  position: absolute;
  top: 250px;
  right: 50px;
}
.img-niche {
  width: 30%;
  position: absolute;
  top: 600px;
  right: 100px;
}
.img-etageres2 {
  width: 40%;
  position: absolute;
  top: 900px;
  right: 150px;
}
.etagere-text {
  position: absolute;
  background-color: #d9d9d9;
  width: 35%;
  top: 300px;
  left: 100px;
  padding: 20px 40px;
}

@media (min-width: 375px) and (max-width: 500px) {
  .etagere-text {
    width: auto;
    top: 250px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 40%;
    position: relative;
    top: 470px;
    left: 20px;
  }
  .img-niche {
    width: 40%;
    position: relative;
    top: 500px;
    left: 80px;
  }
  .img-etageres2 {
    width: 60%;
    position: relative;
    top: 550px;
    left: 80px;
  }
}
@media (min-width: 375px) and (max-width: 425px) {
  .etagere-text {
    width: 100%;
    top: 250px;
    left: auto;
    padding: 20px 20px;
  }
  .img-etageres {
    width: 40%;
    position: relative;
    top: 500px;
    left: 20px;
  }
  .img-niche {
    width: 40%;
    position: relative;
    top: 500px;
    left: 80px;
  }
  .img-etageres2 {
    width: 60%;
    position: relative;
    top: 550px;
    left: 80px;
  }
}
@media (min-width: 426px) and (max-width: 600px) {
  .etagere-text {
    width: auto;
    top: 280px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 40%;
    position: relative;
    top: 480px;
    left: 20px;
  }
  .img-niche {
    width: 40%;
    position: relative;
    top: 450px;
    left: 80px;
  }
  .img-etageres2 {
    width: 60%;
    position: relative;
    top: 500px;
    left: 80px;
  }
}
@media (min-width: 601px) and (max-width: 700px) {
  .etagere-text {
    width: auto;
    top: 280px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 40%;
    position: relative;
    top: 400px;
    left: 20px;
  }
  .img-niche {
    width: 40%;
    position: relative;
    top: 400px;
    left: 80px;
  }
  .img-etageres2 {
    width: 60%;
    position: relative;
    top: 450px;
    left: 80px;
  }
}
@media (min-width: 701px) and (max-width: 850px) {
  .etagere-text {
    width: auto;
    top: 280px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 35%;
    position: relative;
    top: 350px;
    left: 20px;
    margin-left: 40px;
  }
  .img-niche {
    width: 35%;
    position: relative;
    top: 350px;
    left: 80px;
  }
  .img-etageres2 {
    width: 55%;
    position: relative;
    top: 400px;
    left: 150px;
  }
}
@media (min-width: 851px) and (max-width: 970px) {
  .etagere-text {
    width: auto;
    top: 280px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 30%;
    position: relative;
    top: 350px;
    left: 20px;
    margin-left: 40px;
  }
  .img-niche {
    width: 30%;
    position: relative;
    top: 350px;
    left: 80px;
  }
  .img-etageres2 {
    width: 50%;
    position: relative;
    top: 400px;
    left: 150px;
  }
}
@media (min-width: 971px) and (max-width: 1023px) {
  .etagere-text {
    width: auto;
    top: 250px;
    left: 0;
    padding: 20px 20px;
    margin: 0 15px;
  }
  .img-etageres {
    width: 30%;
    position: relative;
    top: 300px;
    left: 20px;
    margin-left: 150px;
  }
  .img-niche {
    width: 30%;
    position: relative;
    top: 300px;
    left: 80px;
  }
  .img-etageres2 {
    width: 50%;
    position: relative;
    top: 350px;
    left: 250px;
  }
}
@media (min-width: 1200px) {
  .img-etageres {
    width: 20%;
    position: absolute;
    top: 250px;
    right: 50px;
  }
  .img-niche {
    width: 30%;
    position: absolute;
    top: 600px;
    right: 250px;
  }
  .img-etageres2 {
    width: 40%;
    position: absolute;
    top: 800px;
    left: 50px;
  }
  .etagere-text {
    position: absolute;
    background-color: #d9d9d9;
    width: 35%;
    top: 300px;
    left: 100px;
    padding: 20px 40px;
  }
}
@media (min-width: 1560px) {
  .img-etageres {
    width: 20%;
    position: absolute;
    top: 250px;
    right: 50px;
  }
  .img-niche {
    width: 30%;
    position: absolute;
    top: 650px;
    right: 250px;
  }
  .img-etageres2 {
    width: 40%;
    position: absolute;
    top: 700px;
    left: 50px;
  }
  .etagere-text {
    position: absolute;
    background-color: #d9d9d9;
    width: 35%;
    top: 300px;
    left: 100px;
    padding: 20px 40px;
  }
}
@media (min-width: 1900px) {
  .img-etageres {
    width: 20%;
    position: absolute;
    top: 600px;
    right: 50px;
  }
  .img-niche {
    width: 30%;
    position: absolute;
    top: 600px;
    right: 550px;
  }
  .img-etageres2 {
    width: 30%;
    position: absolute;
    top: 600px;
    left: 50px;
  }
  .etagere-text {
    position: absolute;
    background-color: #d9d9d9;
    width: 70%;
    top: 230px;
    left: 300px;
    padding: 20px 40px;
    font-size: 1.3rem;
  }
}
